@font-face {
  font-family: "Satoshi-Medium";
  src: url("../public/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../public/fonts/Satoshi-Black.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --color-primary: #e0f2fe;
  --color-primary-dark: #0369a1;
  --color-dark-grey: #374151;

  --font-Satoshi-Black: "Satoshi-Black", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-satoshi-regular: "Satoshi-Medium", sans-serif;

  --bs-primary: #0072e1;
  /*  (black with 75% opacity for lightbox background) */
}

/* font-family: 'Inter', sans-serif;*/

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden;
  color: #fff;
  background-color: #000000;
  position: relative;
  font-family: var(--font-satoshi-regular);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

strong {
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

p {
  font-size: 16px;
  color: #56565c;
  line-height: 1.6;
  margin: 0 0 15px;
  font-family: "Inter", sans-serif;
}

a {
  color: #362fd9;
  text-decoration: none !important;
  transition: ease-in-out 0.3s;
  display: inline-block;
}

a:hover,
a:active,
a:focus {
  color: #362fd9;
  transition: ease-in-out 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #fff;
  font-family: var(--font-Satoshi-Black);
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

ul {
  margin: 0;
}

input,
select,
textarea,
button,
input:focus,
button:focus {
  outline: none;
}

button {
  transition: ease-in-out 0.3s;
  font-family: var(--font-satoshi-regular);
}

img {
  max-width: 100%;
}

header,
section,
footer {
  width: 100%;
}

header {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 14px;
  background: #03005666;
}
.userNames {
  color: #fff;
  text-align: left;
}

.flexheader {
  display: flex;
  flex-wrap: wrap;
}

.rightSide {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.searchBox {
  min-width: 325px;
}

.searchinput {
  width: 100%;
  background: #eef4f9;
  border: 1px solid #e0ebf3;
  border-radius: 8px;
  padding: 14px;
  color: #717578;
  background-image: url("./assets/search.svg");
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
  padding-right: 45px;
}

header .dropdown {
  margin: 0px 0px;
}

header .dropdown button {
  background-color: transparent;
  color: #000000;
  border: none;
  position: relative;
}

header .dropdown .dropdown-toggle {
  position: relative;
}

header .dropdown .profileDropdown {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

header .dropdown .profileDropdown .profilePic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

header .dropdown-toggle::after {
  top: 50%;
  margin-top: -4px;
  position: absolute;
  right: 0px;
}

.userNames {
  padding-left: 12px;
  padding-right: 6px;
}

.btn {
  padding: 16px 30px 15px 30px;
  line-height: 1;
  border-radius: 10px;
}

.connect-btn {
  font-weight: 500;
}

.blankLeft {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.blankLeft h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 26px;
}

.leaderRank {
  border-radius: 16px;
  padding: 12px 6px;
  width: 100%;
  float: left;
}

.baseBlue {
  background-color: #3e115680;
  color: #fff;
}

.baseBlue a {
  color: #fff;
}

.ranklisting {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.ranklisting li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ranklisting li a {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 6px;
  width: 100%;
  font-weight: 500;
}

.ranklisting li a:hover {
  background: rgba(0, 44, 86, 0.05);
  border-radius: 8px;
}

.baseBlue li a:hover {
  background: rgba(0, 44, 86, 0.2);
}

.ranklisting li a .rankProfile {
  margin: 0px 8px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.middleSection {
  padding-top: 40px;
}

.top10voters {
  color: #00284f;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 114, 225, 0.15);
  border-radius: 16px;
}
.top10voters .rankNo {
  color: #0072e1;
}
.percent {
  color: #0072e1;
  margin-left: auto;
  font-weight: 600;
}
.top10voters li {
  border-bottom: 1px solid #eaf0f4;
}
.ranklisting li:last-child {
  border: none;
}
.postBox {
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 114, 225, 0.2);
  border-radius: 16px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background: rgb(0,0,0);
}

.cursor-pointer {
  cursor: pointer;
}

.createyourpost {
  width: 100%;
  background-color: rgba(235, 242, 248, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 8px;
  border-radius: 100px;
  flex-wrap: wrap;
}
.postText {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  padding: 0px 16px;
  text-align: left;
  /* width: 80%; */
  width: calc(100% - (48px * 2));
}
.photoButton {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: auto;
}
.yourProfile {
  /* height: 64px;
  width: 64px; */
  height: 48px;
  width: 48px;
}
.postRight {
  width: 100%;
  padding-left: 10px;
}
.post {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 32px;
}
.postinfo,
.postimg {
  width: 100%;
}
.postimg img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.postimg {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.postinfo {
  padding-top: 16px;
}
.postinfo h5 {
  color: #000;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 8px;
  font-size: 22px;
}
.btnDao {
  width: 100%;
  /* padding: 16px; */
  padding: 8px;
  /* border-radius: 8px; */
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-weight: 500;
}
.btnDao:hover {
  color: #fff;
}
.agreeBTN {
  background: #2ba24c;
  color: #fff;
}

.agreeLight{
  background: #6ef097;
}

.agreeBTN:hover {
  background: #35c05c;
  color: #fff;
}
.agreeBTN:focus {
  background: #248a40;
  color: #fff;
}
.disagreeBTN {
  background: #e43e2b;
  color: #fff;
}

.disagreeLight {
  background: #f27f72;
}

.disagreeBTN:hover {
  background: #fa4631;
  color: #fff;
}
.disagreeBTN:focus {
  background: #d23726;
  color: #fff;
}
.playbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 100px;
}
.post:hover .playbutton {
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.6);
}
.recentpostslist {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.recentpostslist li {
  margin-bottom: 16px;
  width: 100%;
}
.recentpostslist li a {
  background: #0300561f;
    border-radius: 16px;
    display: block;
    width: 100%;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid #4b2671;
}
.recentpostslist li a h3 {
  font-weight: 600;
  font-size: 14px;
}
.recentImg {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.recentImg img {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
}
.container-fluid {
  max-width: 1500px;
}
.recentText {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Added by Bhim */

.upvote-box{
  display: flex;
  align-items: center;
}

.upvote {
  color: #45FF00;
  font-size: 35px;
}

.upvote-sm {
  font-size: 25px;
}

.icon {
  width: 30px;
}

.icon-sm {
  width: 25px;
}

.voter-list{
  display: flex;
  align-items: center;
  padding: 0 10px;
}


@media (max-width: 768px) {
  .btnDao {
    font-weight: 400;
  }
}

@media (max-width: 640px) {
  .btnDao {
    font-size: 14px;
  }
}

.notice{
  margin: 35px 0px 20px;
}


.votes{
  margin-left: 10px;
}

button{
  border: none;
}

.load-more{
  background: rgb(136,37,150);
  background: linear-gradient(90deg, rgba(136,37,150,1) 0%, rgba(61,17,85,1) 53%);
  box-shadow: 0px 0px 30px rgba(0, 114, 225, 0.2);
  border-radius: 16px;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
}


/* Navbar */

.navbar-container{
  max-width: 1400px;
  margin: 0 auto;
}

.navbar{
  position: relative;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(219, 9%, 45%, 0.25);
  
}

.nav__header{
  display: flex;
  align-items: center;
}

.user-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .user__cart-icon{
  padding: 3rem 1rem;
  cursor: pointer; 
  position: relative;
  margin-right: 2.5rem;
}

.navbar .user__cart-icon:hover path{
  fill: var(--color-Very-vark-blue);
}


.user__total-quantity{
  background-color: var(--color-orange);
  color: #fff;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  border-radius: 9999px;
  position: absolute;
  right: 0px;
  top: 10px;
}

.user__total-quantity--hidden{
  display: none;
}

.user__profile{
  cursor: pointer;
}

.user__login a{
  color: var(--color-Dark-grayish-blue);
}

.user__login a:hover{
  color: black;
}

@media screen and (min-width:768px) {
  .user__total-quantity{
      right: 0px;
      top: 25px;
  }
}

.user__image img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.user__image img:hover{
  border: 2px solid var(--color-orange);
}

.nav__links{
  list-style: none;
  display: flex;
  margin: 0;
  color: white;
}

.nav__links a{
  text-decoration: none;
  color: var(--color-Dark-grayish-blue);
}

.nav__links a{
  cursor: pointer;
  padding: 2rem 0;
  margin: 0 1.5rem;
  background-image: linear-gradient(0deg, #882595, #882595);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.nav__links a:hover{
  color: var(--color-Very-vark-blue);
  background-size: 100% 5px, auto;
}

.active a{
  background-size: 100% 5px, auto;
}

.navbar__balance{
  font-size: 1px;
}

.navbar__logo{
  width: 50px;
}


@media screen and (max-width:900px) {
  .navbar__balance{
    font-size: 13px;
  }

  .navbar__logo{
    width: 60px;
  }
  
  .navbar{
      padding: 0.5rem 1rem;
  }
  
  .nav__links{
      position: absolute;
      flex-direction: column;
      height: calc(100vh - 62.65px);
      top: 62.65px;
      left: -500px;
      font-weight: bold;
      color: white;
      background-color: #10042c;
      z-index: 20;
      justify-content: flex-start;
      width: 50vw;
      row-gap: 5%;
      padding: 2rem 2rem ;
      transition: all 0.3s ease-in-out;
  }

  .navbar .user__cart-icon{
      padding: 1.5rem 0.5rem;
  }
  
  .nav__burger div{
      width: 20px;
      border-bottom: 4px solid white;
  }
  
  .nav__burger{
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-right: 2rem;
  }
  
  .user__image img{
      width: 35px;
      height: 35px;
  }
  
  .nav__burger--close div:nth-of-type(2){
      display: none;
  }
  
  .nav__burger--close div:nth-of-type(1){
      transition: all 0.2s;
      transform: rotate(45deg);
      position: relative;
      top: 8.1px;
  }
  .nav__burger--close div:nth-of-type(3){
      transition: all 0.2s;
      transform: rotate(-45deg);
      position: relative;
      bottom: 8.1px;
  }
  
  .nav__links--expanded{
      left: 0;
  }
  
  .nav__links a{
      padding: 0.5rem;
      margin: 1rem 0;
  }
}

.navbar__profile{
  display: flex;
  column-gap: 10px;
}

@media screen and (min-width:1024px) {
  .nav__links a{
      margin: 0 2rem;
  }

  .navbar__balance{
    font-size: 15px;
  }
  
  .navbar{
      padding: 0 2rem;
  }

  .navbar__logo{
    width: 60px;
  }
  

}
